In [1]:
import pandas as pd
import numpy as np

In [2]:
#to import csv dataset 
data= pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')
data.head()

,Unnamed: 0,Unnamed: 0.1,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,0,0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,1,1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,2,2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,3,3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
#the total sum of Animal Fat produced in 2014
data.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [4]:
#the total sum of Animal Fat produced in 2017
data.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [12]:
#mean and standard deviation across dataset for the year 2015
data['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [24]:
#total number of missing data in 2016
data['Y2016'].isnull().sum()

1535

In [18]:
#total data in 2016
data['Y2016'].count()

59408

In [23]:
#percentage of missing data in 2016
#sum of missing data(x), divided by total data(y), multiplied by 100
x = data['Y2016'].isnull().sum()
y = data['Y2016'].count()

(x/y)*100

2.583827093994075

In [30]:
#year with the highest correlation with ‘Element Code’
data.corr()

,Unnamed: 0,Unnamed: 0.1,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Unnamed: 0,1.000000,1.000000,0.778550,0.007838,0.000212,0.007846,0.006985,0.006304,0.006693,0.006979
Unnamed: 0.1,1.000000,1.000000,0.778550,0.007838,0.000212,0.007846,0.006985,0.006304,0.006693,0.006979
Area Code,0.778550,0.778550,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,0.007838,0.007838,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,0.000212,0.000212,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.007846,0.007846,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.006985,0.006985,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.006304,0.006304,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.006693,0.006693,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.006979,0.006979,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [31]:
#year with the highest sum of Import Quantity
#total sum of Production in 2014

data.groupby('Element').sum()

,Unnamed: 0,Unnamed: 0.1,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,
Domestic supply quantity,160905858,160905858,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,136913744,136913744,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),153145800,153145800,675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,39612522,39612522,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,150669420,150669420,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),153029448,153029448,674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),149413695,149413695,658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,156184233,156184233,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,62224563,62224563,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),54007001,54007001,235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,60064377,60064377,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,119901389,119901389,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),153140777,153140777,675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,140994190,140994190,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,23121919,23121919,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,129715282,129715282,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1334163,1334163,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,12615772,12615772,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [32]:
#Which element had the highest sum in 2018
#Which element had the 3rd lowest sum in 2018

data[['Element','Y2018']].groupby('Element').sum().sort_values('Y2018', ascending=True)

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

In [33]:
# the total Import Quantity in Algeria in 2018
d= data.groupby(['Area','Element'])['Y2018'].sum()
d.head(20)

Area     Element
Algeria  Domestic supply quantity                  90023.42
         Export Quantity                             811.54
         Fat supply quantity (g/capita/day)          309.09
         Feed                                      10668.00
         Food                                      63736.33
         Food supply (kcal/capita/day)             13288.00
         Food supply quantity (kg/capita/yr)        1509.28
         Import Quantity                           36238.29
         Losses                                     7708.00
         Other uses (non-food)                      3970.08
         Processing                                 2479.00
         Production                                60766.67
         Protein supply quantity (g/capita/day)      367.28
         Residuals                                   630.00
         Seed                                        825.00
         Stock Variation                            6172.00
         Total Population - Both sexes             42228.00
Angola   Domestic supply quantity                  59590.22
         Export Quantity                            7962.28
         Fat supply quantity (g/capita/day)          230.90
Name: Y2018, dtype: float64

In [34]:
#total number of unique countries in the dataset
len(pd.unique(data['Area']))

49